<div class="information_links">
 <table id = "contact">
  <tr>
    <th><%=@Name %></th>
    <th><%=@Email %></th>
    <th><a href="#IDHome"><%=@Home %></a></th>
    <th><a href="#IDAboutUs"><%=@AboutUs %></a></th>
    <th><a href="#IDServices"><%=@Services %></a></th>
    <th><a href="#IDClients"><%=@Clients %></a></th>
  </tr>
 </table> 
</div>

<%= fa_icon "camera-retro" %>
<%= fa_stacked_icon "twitter", base: "square-o" %>
 

<div class="Home">
   <h2 id="IDHome"> <%= @Title %></h2>
</div>  

<div class="AboutUs">
   <h2 id="IDAboutUs"> <%= @AboutUs %></h2>
</div>  

<div class="Services">
   <h2 id="IDServices"> <%= @Services %></h2>
   <div class="row">
  <div class="column">
    <div class="content">
      <img src="mountains.jpg" alt="Mountains" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum..</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="lights.jpg" alt="Lights" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum..</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="nature.jpg" alt="Nature" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum..</p>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <img src="mountains.jpg" alt="Mountains" style="width:100%">
      <h3>My Work</h3>
      <p>Lorem ipsum..</p>
    </div>
  </div>
</div>

</div>  

<div class="Clients">
   <h2 id="IDClients"> <%= @Clients %></h2>
</div> 

<div class ="footer_signature"> 
  <p> <%=@Signature %></p> 
</Div>


